<h3 class="bg-primary text-center text-white p2">
  Twitter sample stream summary
</h3>

<h4 class="bg-primary text-center text-white p2">
  API sample stream summary
</h4>

<div class="container-fluid m-2">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Total minutes</th>
        <th>Total count</th>
        <th>Average per minutes</th>
      </tr>
    </thead>
    <tbody>
      <td>{{ apiSummary().totalCount }}</td>
      <td>{{ apiSummary().averageMinute }}</td>
      <td>{{ apiSummary().totalMinutes }}</td>
    </tbody>
  </table>
</div>

<br/>
<h4>{{ signalmessage }}</h4>
<br/>

